.blog-post {
    background-color: rgba(0, 0, 0, 0.7) !important;
    border-radius: 10px;
    padding: 30px;
    max-width: 800px;
    margin: 50px auto;

}

.header {
    width: 80%;
    margin: 0 auto;
}

h1 {
    max-width: 90%;
    text-align: center;
}

.author-info {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.author-name, .author-title, .heading {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8), 0 0 10px rgb(58, 142, 12);
}

.author-avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 20px;
}

article p {
    padding-bottom: 20px;
}

article p:last-child {
    padding-bottom: 0;
}

.icecreamfever2 {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.sociallinks {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 30px;
    padding-left: 10px;
}

.social-link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    margin-right: 20px;
    text-decoration: none;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    transition: transform 0.3s ease;
}

.social-link:hover .icon {
    transform: scale(1.2);
}

.facebook-icon { color: #1DA1F2; }
.twitter-icon {
    color: #0A66C2;
    position: relative;
    top: -10px;
}
.instagram-icon { color: #E4405F; }

.back-link {
    display: inline-flex;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    margin-top: 20px;
    transition: color 0.3s ease;
}

.back-link i {
    margin-right: 5px;
}

.back-link:hover {
    color: #1DA1F2; /* Or any color you prefer for hover state */
}

.back-icon {
    margin-top: 5px;
