header {
    padding: 20px 0 20px 10%;
  }

h1 {
    font: 3rem 'Sakura', sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8), 0 0 10px #FC0
  }

  header p {
    font: 3rem 'Sakura', sans-serif;
    margin: 5px 0 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8), 0 0 10px rgb(58, 142, 12);}